//COLORS

$color-primary-1: #ea5353;
$color-primary-2: #45d3d3;
$color-primary-3: #fcaf4a;
$color-primary-4: #549ef2;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-family: 'Lato', sans-serif;
$default-font-size: 1.6rem;

//GRID
